@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
  --background: 255 255 255;
  --foreground: 37 37 37;
  --card: 255 255 255;
  --card-foreground: 37 37 37;
  --popover: 255 255 255;
  --popover-foreground: 37 37 37;
  --primary: 52 52 52;
  --primary-foreground: 251 251 251;
  --secondary: 247 247 247;
  --secondary-foreground: 52 52 52;
  --muted: 247 247 247;
  --muted-foreground: 142 142 142;
  --accent: 247 247 247;
  --accent-foreground: 52 52 52;
  --destructive: 238 120 112;
  --destructive-foreground: 238 120 112;
  --border: 235 235 235;
  --input: 235 235 235;
  --ring: 112 112 112;
  --chart-1: 244 199 154;
  --chart-2: 148 181 189;
  --chart-3: 0 157 151;
  --chart-4: 255 200 135;
  --chart-5: 255 187 161;
  --radius: 0.625rem;
  --sidebar: 251 251 251;
  --sidebar-foreground: 37 37 37;
  --sidebar-primary: 52 52 52;
  --sidebar-primary-foreground: 251 251 251;
  --sidebar-accent: 247 247 247;
  --sidebar-accent-foreground: 52 52 52;
  --sidebar-border: 235 235 235;
  --sidebar-ring: 181 181 181;
}
 
.dark {
  --background: 37 37 37;
  --foreground: 251 251 251;
  --card: 37 37 37;
  --card-foreground: 251 251 251;
  --popover: 37 37 37;
  --popover-foreground: 251 251 251;
  --primary: 251 251 251;
  --primary-foreground: 52 52 52;
  --secondary: 68 68 68;
  --secondary-foreground: 251 251 251;
  --muted: 68 68 68;
  --muted-foreground: 181 181 181;
  --accent: 68 68 68;
  --accent-foreground: 251 251 251;
  --destructive: 162 57 59;
  --destructive-foreground: 215 110 109;
  --border: 68 68 68;
  --input: 68 68 68;
  --ring: 112 112 112;
  --chart-1: 97 107 230;
  --chart-2: 190 198 178;
  --chart-3: 255 187 161;
  --chart-4: 13 148 240;
  --chart-5: 240 162 147;
  --sidebar: 52 52 52;
  --sidebar-foreground: 251 251 251;
  --sidebar-primary: 97 107 230;
  --sidebar-primary-foreground: 251 251 251;
  --sidebar-accent: 68 68 68;
  --sidebar-accent-foreground: 251 251 251;
  --sidebar-border: 68 68 68;
  --sidebar-ring: 112 112 112;
}
 
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}